body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.book-table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  background-color: #fff;
}

.book-table,
.book-table th,
.book-table td {
  border: 1px solid #ddd;
}

.book-table th,
.book-table td {
  padding: 12px;
  text-align: left;
}

.book-table th {
  background-color: #f2f2f2;
  color: #333;
}

.book-table td {
  color: #555;
}

.book-table a {
  text-decoration: none;
  color: #007bff;
}

.book-table a:hover {
  text-decoration: underline;
}

.book-table button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #d9534f;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-table button:hover {
  background-color: #c9302c;
}

.add-book-link {
  margin-left: 160px;
  width: 5%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-book-link:hover {
  background-color: #0056b3;
}
.link-btn {
  text-decoration: none;
  color: white;
}
