.create-book-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.create-book-form fieldset {
  border: none;
}

.create-book-form legend {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.create-book-form .form-group {
  margin-bottom: 15px;
}

.create-book-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.create-book-form input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-book-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-book-form button:hover {
  background-color: #0056b3;
}
